.banner-page {
  .slick-arrow {
    display: none !important;
  }

  .slick-list {
    height: 100%;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    z-index: 10;
  
    button {
      cursor: pointer;
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #eee;
      border: none;
      outline: none;
      transition: all 0.2s linear;
    }
    .slick-active > button {
      background-color: #2cccff;
    }
  }
}